body
{
  background-color: #0B5172;
}
h1{
  color:#C6CDD1;
}
.post-content{
  color:black;
}
.profile_pic{
  height: 80px;
  width: 80px;
}
.sort{
  color:black;
}
.profile_info{
  color:black;
}
.post_image{
   width:1920px;
   height:1080px;
}
