body
{
  background-color: #0B5172;
}
h1{
  color:#ccc9bc;
}
.post-content{
  color: #ccc9bc;
}
.profile_pic{
  height: 80px;
  width: 80px;
}
.sort, .profile_info, .post_title{
  color: #ccc9bc;
}
.post_title{
  text-decoration:none;
}
.post_image{
   width:10rem;
   height:auto;
}
.post_header{
  style="width: 259px;
  vertical-align: top;
}
