body
{
  background-color: #0B5172;
}
h1{
  color:#C6CDD1;
}
.post-content{
  color: #C6CDC0;
}
.profile_pic{
  height: 80px;
  width: 80px;
}
.sort, .profile_info, .post_title{
  color: #C6CDD0;
}
.post_title{
  text-decoration:none;
}
.post_image{
   width:10rem;
   height:auto;
}
.post_header{
  style="width: 259px;
  vertical-align: top;
}

.feeds-itemsWrapper > table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}
