body
{
  background-color: #1b1f26;
}
h1{
  color: #ccc9bc;
}
.post-content{
  color: #ccc9bc;
}
.profile_pic{
  height: 80px;
  width: 80px;
}
.sort, .profile_info, .post_title{
  color: #ccc9bc;
}
.post_title{
  text-decoration:none;
}
.post_image{
   width:10rem;
   height:auto;
}
.post_header{
  style="width: 259px;
  vertical-align: top;
}
.feeds-itemsWrapper > table, th, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 23px;
  align content: center;
}
.changePass{
  border: 1px solid black;
  margin: 20px;
}
.newPass{
  padding: 20px;
  margin: 7px;
  align-content: center;
}
.feed-posts{
  margin: 50px;
  padding: 20px;
}
.editTitle {
  text-align: center;
}
